body {
    font-family: 'Poppins', sans-serif;
}

/* Header */

.header-container {
    padding: 2rem 4rem 0 4rem; 
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header-container img {
    height: 3rem;
}

.btn-orcamento {
    padding: 1rem 2rem;
    border-radius: 5px;
    border-color: #0066CC;
    border: 2px solid #0066CC;
    text-transform: uppercase;
    text-decoration: none;

}

/* MENU HAMBURGUER */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .checkbox {
    /* position: absolute; */
  
    /* height: 100px; */
    width: 6rem;
  
    top: 0;
    right: 6rem;
  
    display: flex;
    justify-content: center;
    cursor: pointer;
  
    z-index: 999;
    transition: 400ms ease-in-out 0s;
  }
  
  .checkbox .trace {
    position: absolute;
  
    background-color: #1E1E2A;
  
    width: 2.5rem;
    height: 0.125rem;
    border-radius: 4px;
  
    transition: 0.5s ease-in-out;
  }
  
  .checkbox .trace:nth-child(1) {
    top: 2.5rem;
    transform: rotate(0);
  }
  
  .checkbox .trace:nth-child(2) {
    top: 3.5rem;
    transform: rotate(0);
  }
  
  .checkbox .trace:nth-child(3) {
    top: 4.5rem;
    transform: rotate(0);
  }
  
  #toggle {
    display: none;
  }
/* MENU */

.menu {
  position: absolute;

  top: 28px;
  right: 30px;
  background-color: transparent;
  height: 8px;
  width: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px #fff;
  z-index: -1;
  transition: 400ms ease-in-out 0s;
}

.menu-items {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 400ms ease-in-out 0s;
}

.list {
  list-style-type: none;
}

.list-item {
  color: #1E1E2A;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
}

/* ANIMAÇÃO DO MENU */

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
  }
  
  #toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
  }
  
  #toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 47px;
  }
  
  #toggle:checked + .checkbox {
    background-color: #fff;
  }
  
  #toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax #fff;
    z-index: 1;
  }
  
  #toggle:checked ~ .menu-items {
    visibility: visible;
    opacity: 1;
  }

/* Pagina Index */

/* Seção Destaque */

.destaque {
    display: flex;
    padding: 0 1.5rem 0 4.5rem ;
    justify-content: space-between;
    align-items: center;
}

.destaque p:first-child {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.5rem;
    color: #1C1C1C;
    width: 43rem;
    margin-bottom: 2.5rem;
    text-align: justify;
}

.destaque p:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;
    color: #1C1C1C;
    width: 43rem;
    margin-bottom: 3rem;
    text-align: justify;
}

.destaque a {
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 2rem;
    background: linear-gradient(89.13deg, #0066CC 1.18%, #004891 101.08%);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25), inset 5px 5px 10px #0075EB;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: #FFFFFF;
}

/* Seção resultados */

.resultado {
    background: linear-gradient(87.76deg, #0066CC 0.01%, #004891 99.48%);;
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: space-between;
    height: 14.5rem;
}

.resultado p:first-child {
    font-size: 4.5rem;
    font-weight: 600;
    color: #FAFAFA;
}

.numeros {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    margin-right: 6rem;
}

.resultado > div {
    display: flex;
    align-items: center;
}

.txt-esforco {
    font-weight: 600;
    font-size: 2.25rem;
    color: #FAFAFA;
    width: 18.5rem;
    line-height: 3rem;
}

.texto-esforco {
    font-size: 1rem;
    font-weight: 400;
    color: #FAFAFA;
    width: 7rem;
    text-align: center;
}

/* Seção soluções */

.solucoes h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  letter-spacing: 0.385em;
  color: #000000;
  padding-top: 4rem;
}

.solucoes h2 {
  text-align: center;
  padding-top: 0.25rem;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.solucoes-container{
  display: flex;
  /* padding-left: 4rem; */
  padding-right: 6rem;
  /* gap: 1.5rem; */
  padding-top: 4rem;
}

.solucoes-container h4 {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #1C1C1C;
}

.solucoes-caixa {
  display: flex;
  /* align-items: center; */
  align-items: flex-start;
  padding-top: 4rem;
  /* gap: 1.5rem; */
}

.solucoes-caixa p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #1C1C1C;
  width: 14rem;
  text-align: justify;
}

.prancheta {
  padding-top: 1.5rem;
}

/* Seção Clientes */

.clientes {
  background: linear-gradient(87.76deg, #0066CC 0.01%, #004891 99.48%);
}

.clientes h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  letter-spacing: 0.385em;
  color: #FAFAFA;
  padding-top: 4rem;
}

.clientes h2 {
  text-align: center;
  padding-top: 0.25rem;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #FAFAFA;
}

.clientes-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 3rem;
  padding-bottom: 5.5rem;
}

.elipse {
  border-radius: 50%;
  display: inline-block;
  height: 14.5rem;
  width: 14.5rem;
  /* border: 1px solid #000000; */
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:  0 0 10px 1px rgba(0, 0, 0, 0.4);
}

/* Seção Orçamento */

.orcamento-container {
  display: flex;
}

.orcamento-container img {
  padding-left: 6.6rem;
}

.orcamento-textos {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  align-content: flex-end;
  padding: 4.5rem 7rem 7.5rem 3rem;
  /* padding-top: 4.5rem;
  padding-right: 7rem;
  padding-bottom: 7.5rem;
  padding-left: 3rem; */
}
.orcamento-textos h2 {
  font-weight: 500;
  font-size: 3rem;
  line-height: 4.5rem;
  text-align: right;
  color: #000000;
  padding-bottom: 1.5rem;
}

.orcamento-textos h3 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-align: right;
  color: #000000;
  text-align: justify;
  padding-bottom: 2.5rem;
}

.orcamento-botao {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  background: linear-gradient(89.13deg, #0066CC 1.18%, #004891 101.08%);
  box-shadow: 3px 3px 4px rgb(0 0 0 / 25%), inset 5px 5px 10px #0075eb;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: #FFFFFF;
}

/* Seção Parcerias */

.parcerias {
  background: linear-gradient(87.76deg, #0066CC 0.01%, #004891 99.48%);
}

.parcerias h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  letter-spacing: 0.385em;
  color: #FAFAFA;
  padding-top: 4rem;
}

.parcerias h2 {
  text-align: center;
  padding-top: 0.25rem;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #FAFAFA;
}

.parcerias-container-quatro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  padding-left: 7rem;
  padding-right: 7rem;
}

.parcerias-container-tres {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 5.5rem;
  padding-left: 7rem;
  padding-right: 7rem;
}

/* Pagina Serviços */

/* Sites e landing pages */

.sites, .aplicativos, .sistemas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sites, .aplicativos {
  background-image: url("./assets/Path.svg");
  margin-top: 3.5rem;
  /* padding-top: 1.5rem; */
}


.site-titulo, .aplicativo-titulo {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
  color: #FAFAFA;
  text-align: center;
  padding-top: 1rem;
  text-transform: uppercase;
}

.sistema-titulo {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
  color: #1C1C1C;
  text-align: center;
  padding-top: 1.5rem;
  text-transform: uppercase;
}

.imgText {
  display: flex;
  align-items: center;
  padding-left: 6rem;
}

.textImg {
  display: flex;
  align-items: center;
  padding-left: 6rem;
}

.site-texto, .aplicativo-texto {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #FAFAFA;
  width: 62rem;
  text-align: justify;
}

.sistema-texto {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #1C1C1C;
  width: 62rem;
  text-align: justify;
}

.orcamento-btn {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background: linear-gradient(89.13deg, #0066CC 1.18%, #004891 101.08%);
  box-shadow: 3px 3px 4px rgb(0 0 0 / 25%), inset 5px 5px 10px #0075eb;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  height: 1rem;
}


.aplicativos {
  padding-bottom: 8rem;
}










/* Footer */

.footer-container {
    padding: 3.5rem 7.5rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-footer {

}

.titulo-footer{
    font-size: 48px;

}

.contato-footer {
    font-size: 24px;
    color: #0066CC;
    margin: 0.5rem 0 1.25rem;

}

.copyright {
    font-size: 18px;
    color: #5A5A5A;
    text-align: center;
    padding-bottom: 2.5rem;
    margin-top: 0.5rem;
}

.imagens-footer{
    display: flex;
    gap: 40px;
}

.logo-footer {
    bottom: 0;
    right: 0;
    height: 123px;
    width: 203px;    
}


footer {
    background: linear-gradient(233.7deg, #FFFFFF 1.47%, #F0F0F0 100%);
}