@import '../abstract/variaveis';


.destaque {
    display: flex;
    padding: 3rem 1.5rem 0 1.5rem;
    justify-content: space-between;
    align-items: center;
    p:first-child {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.5rem;
        color: $fonte-preta;
        width: 100%;
        margin-bottom: 1rem;
        text-align: left;
    }
    p:nth-child(2) {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5rem;
        color: $fonte-preta;
        width: 100%;
        margin-bottom: 1.5rem;
        text-align: left;
    }
    a {
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem 2rem;
        background: $linear-gradiente;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25), inset 5px 5px 10px #0075EB;
        border-radius: 5px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        color: $branco;
    }
    img {
        display: none;
    }
}
