@import '../abstract/variaveis';

.etapas {
    .etapas__titulo {
        font-size: 2rem;
        font-weight: 500;
        line-height: 2rem;
        text-align: center;
    }

    .etapas__container {

        text-align: center;
        padding: 1.5rem;

        .etapas__container-processo {
            h3 {
                font-size: 1.25rem;
                font-weight: 500;
                line-height: 1.5rem;
            }

            p {
                font-size: 0.8rem;
                font-weight: 400;
                line-height: 1.25rem;
                text-align: left;
            }
        }
    }
}



.main-container{
    position: relative;
    width: 500px;
}
/*creating line for timeline*/
.main-container::after{
    content: '';
    position: absolute;
    width: 10px;
    background-color: blue;
    top:0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
/*Adjusting box of all content*/
.text-wrapper{
    padding: 10px 40px;
    position: relative;
    width:51%;
    box-sizing: border-box;
    margin: 50px 0;
}
.text-wrapper::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 25px;
    right: -10px;
    background-color:blue;
    top:15px;
    border-radius: 50%;
    z-index: 1;
}
/*for left events*/
.left{
    left: 0;
}
/*for right events*/
.right{
    left:50%;
}
.right::after{
    left:-10px;
}
/*content box colour padding and radius for circular corner*/
.content{
    padding: 15px 15px 15px 17px;
    background-color: lightblue;
    border-radius: 4px;
}
/*setting text property of event heading*/
.content h3{
    text-transform: uppercase;
    font-size: 14px;
    color: #212121;
    letter-spacing:1px;
}
/*setting text property of event content*/
.content p{
    color: #616161;
    font-weight: 300;
    font-size: 18px;
    margin-top: 2px;
}