@import '../abstract/variaveis';



/* Footer */

.footer__container {
    padding: 3.5rem 7.5rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__titulo{
    font-size: 48px;

}

.footer__contato {
    font-size: 24px;
    color: #0066CC;
    margin: 0.5rem 0 1.25rem;

}

.footer__copyright {
    font-size: 18px;
    color: #5A5A5A;
    text-align: center;
    padding-bottom: 2.5rem;
    margin-top: 0.5rem;
}

.footer__imagens {
    display: flex;
    // gap: 40px;
}

.footer__logo {
    bottom: 0;
    right: 0;
    // height: 123px;
    // width: 203px;    
}


footer {
    background: linear-gradient(233.7deg, #FFFFFF 1.47%, #F0F0F0 100%);
}