@import '../abstract/variaveis';



/* Footer */
footer{
    background: linear-gradient(90deg, #FFFFFF 0, #F0F0F0 100%);
}
.footer__container {
    padding: 2.5rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;

    .footer__container-imagem-textos {
        display: flex;
        justify-content: space-between;
        gap: .5rem;
        
        .footer__titulo{
            font-size: 1.25rem;
            font-size: clamp(1.25rem, .8rem + 2vw, 2rem);
            text-transform: uppercase;
        }
        
        .footer__contato {
            margin-top: .5rem;
            font-size: 1rem;
            color: #0066CC;
        }
    }

    .footer__social{
        display: flex;
        gap: 2.5rem;
        padding: 1rem 0;

        @media only screen and (max-width: 420px) {
            justify-content: center;
        }
    }
    
    .footer__disclaimer{
        font-size: 12px;
        color: $cinza-medio;
        line-height: 1.2;
        a{
            color: currentColor;
            text-decoration: none;
            font-weight: 600;
        }
        @media screen and (max-width: 600px) {
            display: none;
        }
    }

    .footer__copyright {
        font-size: 1rem;
        color: #5A5A5A;
        text-align: center;
        // padding-bottom: 2.5rem;
        margin-top: 1rem;
    }
    
}







