@import '../abstract/variaveis';


.mej__container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 5rem 1.25rem 1.25rem 1.25rem;

    h2 {
        font-weight: 600;
        font-size: 2rem;
        line-height: 3rem;
        color: #1C1C1C;
        padding-bottom: 1.25rem;
      }

    p  {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #666666;
    }

    .mej__container-textos {
        display: flex;
        flex-direction: column;

        p {
            text-align: left;
            padding-bottom: 1rem;
        }
    }
}
  