@import '../abstract/variaveis';


.resultado {
    background: linear-gradient(87.76deg, #0066CC 0.01%, #004891 99.48%);;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    // padding: 0 1.5rem 0 1.5rem;
    padding-bottom: 2.5rem;
    margin-top: 2.5rem;
    // gap: 4rem;
    justify-content: space-between;
    // height: 14.5rem;

    .resultado__container {
        display: flex;
        padding-bottom: 1.25rem;

        .resultado__imagem-grande {
            display: none;
        }

        img {
            align-self: flex-start;
        }

        .resultado__titulo {
            font-weight: 600;
            font-size: 1.5rem;
            color: #FAFAFA;
            align-self: flex-end;
        }
    }

    .resultado__numeros {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }

        .numero {
            font-size: 2.5rem;
            font-weight: 500;
            color: $branco-light;
        }

        .resultado__numero__textos {
            font-size: 1rem;
            font-weight: 400;
            color: $branco-light;
            text-align: center;
            max-width: 140px;
        }
        
    }

}

