@import '../abstract/variaveis';


.sobre-in-junior {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
  
    .elipse-somos {
        background: rgba(0, 95, 191, 0.8);
        border: 3px solid rgba(67, 136, 204, 0.5);
        box-shadow: inset 0px 0px 30px rgba(67, 136, 204, 0.5);
        border-radius: 50%;
        display: inline-block;
        height: 20rem;
        width: 20rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        gap: 2rem;

        @keyframes rotation{
          0%{ 
            transform: rotate(45deg);
          }
          5%{ 
            transform: rotate(35deg);
          }
          20%{
            transform: rotate(235deg);
          }
          25%{
            transform: rotate(225deg);
          }
          100%{
            transform: rotate(225deg);
          }
        }

        .elipse-somos-titulo {
            font-weight: 600;
            font-size: 36px;
            line-height: 2rem;
            color: #FAFAFA;
        }

        .elipse-somos-paragrafo {
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FAFAFA;
            max-width: 95%;
        }

    }


    .container-missao-visao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 4rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        h3 {
            font-weight: 600;
            font-size: 2rem;
            color: #1C1C1C;
            text-align: center;
            position: relative;
            top: -1rem;
        }

        p {
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            color: #666666;
            text-align: left;
            padding-bottom: 1rem;
        }

        .caixa-missao, .caixa-visao {

            background: #FAFAFA;
            box-shadow: 5px 5px 0px rgba(0, 32, 146, 0.25);
            border-radius: 16px;
            padding: 0 1.25rem;
            text-align: left;
            margin-bottom: 2.5rem;
        
        }


    }

    @media screen and (min-width: 500px) {
      .container-missao-visao {
        flex-direction: row;
        gap: 1rem;
        .caixa-missao, .caixa-visao {
          width: 45%;
        }
      }
    }

    @media screen and (min-width: 900px) {
      .caixa-missao, .caixa-visao {
        max-width: 420px;
      }
    }

    .valores {
      text-align: center;
      font-weight: 600;
      font-size: 2.25rem;
      line-height: 3rem;
      color: #1C1C1C;
      padding-bottom: 2rem;
      padding-top: 4rem;
    }
    
    .caixas-valores {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      padding: 0 1.25rem;
      justify-content: center;

      div {
        display: flex;
        text-align: center;
        background: #FAFAFA;
        box-shadow: 5px 5px 0px rgb(0 32 146 / 25%);
        border-radius: 1rem;
        width: 10rem;
        height: 13rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
          width: 7.5rem;
        }

      }

    }

}