body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
}

.largura-site {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.largura-site-wide {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}