// FONTE 
$fonte-poppins: 'Poppins', sans-serif;

// CORES 
$azul-gradiente: #0066CC;
$fonte-preta: #1C1C1C;
$linear-gradiente: linear-gradient(89.13deg, #0066CC 1.18%, #004891 101.08%);
$branco: #FFFFFF;
$branco-light: #FAFAFA;