@charset "UTF-8";
body {
  font-family: "Poppins", sans-serif;
}

.header-container {
  padding: 1rem 0 0 1.25rem;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-container img {
  height: 3rem;
}

.btn-orcamento {
  display: none;
}

/* MENU HAMBURGUER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  /* position: absolute; */
  /* height: 100px; */
  width: 6rem;
  top: 0;
  right: 6rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
  transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
  position: absolute;
  background-color: #1E1E2A;
  width: 2.5rem;
  height: 0.125rem;
  border-radius: 4px;
  transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
  top: 1.5rem;
  transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
  top: 2.5rem;
  transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
  top: 3.5rem;
  transform: rotate(0);
}

#toggle {
  display: none;
}

/* MENU */
.menu {
  position: absolute;
  top: 28px;
  right: 30px;
  background-color: transparent;
  height: 8px;
  width: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px #fff;
  z-index: -1;
  transition: 400ms ease-in-out 0s;
}

.menu-items {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 400ms ease-in-out 0s;
}

.list {
  list-style-type: none;
}

.list-item {
  color: #1E1E2A;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
}

/* ANIMAÇÃO DO MENU */
#toggle:checked + .checkbox .trace:nth-child(1) {
  transform: rotate(45deg);
  top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
  transform: translate(-100px);
  width: 30px;
  visibility: hidden;
  opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
  transform: rotate(-45deg);
  top: 47px;
}

#toggle:checked + .checkbox {
  background-color: #fff;
}

#toggle:checked ~ .menu {
  box-shadow: 0px 0px 0px 100vmax #fff;
  z-index: 1;
}

#toggle:checked ~ .menu-items {
  visibility: visible;
  opacity: 1;
}

.destaque {
  display: flex;
  padding: 3rem 1.5rem 0 1.5rem;
  justify-content: space-between;
  align-items: center;
}
.destaque p:first-child {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #1C1C1C;
  width: 100%;
  margin-bottom: 1rem;
  text-align: left;
}
.destaque p:nth-child(2) {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #1C1C1C;
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: left;
}
.destaque a {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  background: linear-gradient(89.13deg, #0066CC 1.18%, #004891 101.08%);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25), inset 5px 5px 10px #0075EB;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: #FFFFFF;
}
.destaque img {
  display: none;
}

.resultado {
  background: linear-gradient(87.76deg, #0066CC 0.01%, #004891 99.48%);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-bottom: 2.5rem;
  margin-top: 2.5rem;
  justify-content: space-between;
}
.resultado .resultado__container {
  display: flex;
  padding-bottom: 1.25rem;
}
.resultado .resultado__container .resultado__imagem-grande {
  display: none;
}
.resultado .resultado__container img {
  align-self: flex-start;
}
.resultado .resultado__container .resultado__titulo {
  font-weight: 600;
  font-size: 1.5rem;
  color: #FAFAFA;
  align-self: flex-end;
}
.resultado .resultado__numeros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.resultado .resultado__numeros div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resultado .resultado__numeros .numero {
  font-size: 2.5rem;
  font-weight: 500;
  color: #FAFAFA;
}
.resultado .resultado__numeros .resultado__numero__textos {
  font-size: 1rem;
  font-weight: 400;
  color: #FAFAFA;
  text-align: center;
  max-width: 140px;
}

.solucoes {
  padding: 0 1.5rem 0 1.5rem;
}
.solucoes h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.385em;
  color: #000000;
  padding-top: 2.5rem;
}
.solucoes h2 {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 2.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.solucoes .solucoes__container {
  display: flex;
  flex-direction: column;
}
.solucoes .solucoes__container article {
  padding-bottom: 2.5rem;
}
.solucoes .solucoes__container .solucoes__container__titulo-imagem {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.solucoes .solucoes__container h4 {
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  color: #1C1C1C;
}
.solucoes .solucoes__container .solucoes__caixa {
  display: flex;
  align-items: flex-start;
  padding-top: 1.5rem;
}
.solucoes .solucoes__container .solucoes__caixa p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #1C1C1C;
  text-align: justify;
}

.clientes {
  background: linear-gradient(87.76deg, #0066CC 0.01%, #004891 99.48%);
}
.clientes h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.385em;
  color: #FAFAFA;
  padding-top: 2.5rem;
}
.clientes h2 {
  text-align: center;
  padding-top: 0.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #FAFAFA;
}

.clientes__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 3rem;
  padding-bottom: 5.5rem;
}

.elipse {
  border-radius: 50%;
  display: inline-block;
  height: 14.5rem;
  width: 14.5rem;
  /* border: 1px solid #000000; */
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

.orcamento_container {
  display: flex;
}
.orcamento_container .orcamento__textos {
  text-align: left;
  padding-top: 2.5rem;
}

.parcerias {
  background: linear-gradient(87.76deg, #0066CC 0.01%, #004891 99.48%);
}

.parcerias h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  letter-spacing: 0.385em;
  color: #FAFAFA;
  padding-top: 4rem;
}

.parcerias h2 {
  text-align: center;
  padding-top: 0.25rem;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #FAFAFA;
}

.parcerias-container-quatro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  padding-left: 7rem;
  padding-right: 7rem;
}

.parcerias-container-tres {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 5.5rem;
  padding-left: 7rem;
  padding-right: 7rem;
}

/* Footer */
.footer__container {
  padding: 3.5rem 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__titulo {
  font-size: 48px;
}

.footer__contato {
  font-size: 24px;
  color: #0066CC;
  margin: 0.5rem 0 1.25rem;
}

.footer__copyright {
  font-size: 18px;
  color: #5A5A5A;
  text-align: center;
  padding-bottom: 2.5rem;
  margin-top: 0.5rem;
}

.footer__imagens {
  display: flex;
  gap: 40px;
}

.footer__logo {
  bottom: 0;
  right: 0;
  height: 123px;
  width: 203px;
}

footer {
  background: linear-gradient(233.7deg, #FFFFFF 1.47%, #F0F0F0 100%);
}/*# sourceMappingURL=style.css.map */