body {
  font-family: "Poppins", sans-serif;
  background-color: #FAFAFA;
}

.largura-site {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.largura-site-wide {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.cabecalho {
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 500;
  transition: filter 0.3s;
}

.shadow {
  filter: drop-shadow(0 5px 2px rgba(0, 32, 146, 0.2470588235));
}

header > div {
  display: flex;
  padding: 0.75rem;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #FAFAFA;
}

.link-orcamento {
  font-size: 1rem;
  font-weight: 600;
  color: #1C1C1C;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 5px;
  border: 2px solid #0066CC;
  text-transform: uppercase;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .link-orcamento {
    display: none;
  }
}
.navegacao {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.lista-menu {
  display: flex;
}

.lista-menu__link {
  padding: 0.8rem 1.2rem;
  display: block;
}

@media only screen and (max-width: 720px) {
  .navegacao {
    flex-direction: row;
  }
  .lista-menu {
    flex-direction: column;
  }
  .navegacao__botao {
    width: 30px;
    z-index: 5;
    margin-right: 15px;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.7s;
    cursor: pointer;
    visibility: unset;
    opacity: 1;
    pointer-events: unset;
  }
  .navegacao__botao:after,
.navegacao__botao:before,
.navegacao__botao span {
    background-color: #666;
    border-radius: 3px;
    content: "";
    display: block;
    height: 3px;
    margin: 5px 0;
    transition: all 0.2s ease-in-out;
    transform-origin: center;
  }
  #menu:checked ~ .navegacao__botao:after {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  #menu:checked ~ .navegacao__botao:before {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  #menu:checked ~ .navegacao__botao span {
    transform: scale(0);
    opacity: 0;
  }
  .lista-menu {
    z-index: -1;
    padding: 0.5rem;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #FAFAFA;
    border-radius: 0 0 10px 10px;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }
  #menu:checked ~ .lista-menu,
.lista-menu:focus-within {
    transform: translateY(0);
  }
  .cabecalho:not(.shadow) #menu:checked ~ .lista-menu,
.cabecalho:not(.shadow) .lista-menu:focus-within {
    background: linear-gradient(0deg, #FFFFFF 0%, #FAFAFA 100%);
  }
}
#menu {
  display: none;
}

.lista-menu__item {
  background: #0066CC;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.destaque > div {
  display: flex;
  padding: 4rem 1.5rem;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  /* IN */
  /* junior */
  /* {} */
}
.destaque > div p:first-child {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #1C1C1C;
  width: 100%;
  margin-bottom: 1rem;
  text-align: left;
}
.destaque > div p:nth-child(2) {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #1C1C1C;
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: left;
}
.destaque > div a {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  background: linear-gradient(89.13deg, #0066CC 1.18%, #004891 101.08%);
  box-shadow: 5px 5px 0px 0px rgba(0, 32, 146, 0.2509803922);
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: #FFFFFF;
  transition: transform 0.3s, box-shadow 0.3s;
}
.destaque > div a:hover {
  box-shadow: 3px 3px 0px 0px rgba(0, 32, 146, 0.2509803922);
  transform: translate(1px, 1px);
}
.destaque > div .destaque__container-textos {
  flex: 0 1 500px;
}
.destaque > div svg {
  width: 35%;
}
@media only screen and (max-width: 700px) {
  .destaque > div svg {
    display: none;
  }
}
.destaque > div svg path:nth-child(1) {
  stroke-dasharray: 2693.4;
  stroke-dashoffset: 2693.4;
  -webkit-animation-delay: 0.1s, 2.5s;
          animation-delay: 0.1s, 2.5s;
  color: #0066CC;
}
.destaque > div svg path:nth-child(2) {
  stroke-dasharray: 3899.6;
  stroke-dashoffset: 3899.6;
  -webkit-animation-delay: 0.2s, 2.5s;
          animation-delay: 0.2s, 2.5s;
  color: #0066CC;
}
.destaque > div svg path:nth-child(3) {
  stroke-dasharray: 942.9;
  stroke-dashoffset: 942.9;
  -webkit-animation-delay: 0.6s, 2.5s;
          animation-delay: 0.6s, 2.5s;
  color: #666;
}
.destaque > div svg path:nth-child(4) {
  stroke-dasharray: 1132.8;
  stroke-dashoffset: 1132.8;
  -webkit-animation-delay: 0.65s, 2.5s;
          animation-delay: 0.65s, 2.5s;
  color: #666;
}
.destaque > div svg path:nth-child(5) {
  stroke-dasharray: 1219.7;
  stroke-dashoffset: 1219.7;
  -webkit-animation-delay: 0.7s, 2.5s;
          animation-delay: 0.7s, 2.5s;
  color: #666;
}
.destaque > div svg path:nth-child(6) {
  stroke-dasharray: 486.5;
  stroke-dashoffset: 486.5;
  -webkit-animation-delay: 0.75s, 2.5s;
          animation-delay: 0.75s, 2.5s;
  color: #666;
}
.destaque > div svg path:nth-child(7) {
  stroke-dasharray: 1291.9;
  stroke-dashoffset: 1291.9;
  -webkit-animation-delay: 0.8s, 2.5s;
          animation-delay: 0.8s, 2.5s;
  color: #666;
}
.destaque > div svg path:nth-child(8) {
  stroke-dasharray: 1334.9;
  stroke-dashoffset: 1334.9;
  -webkit-animation-delay: 0.85s, 2.5s;
          animation-delay: 0.85s, 2.5s;
  color: #666;
}
.destaque > div svg path:nth-child(9) {
  stroke-dasharray: 2378.6;
  stroke-dashoffset: 2378.6;
  -webkit-animation-delay: 0.7s, 2.5s;
          animation-delay: 0.7s, 2.5s;
  color: #666;
}
.destaque > div svg path:nth-child(10) {
  stroke-dasharray: 2380.5;
  stroke-dashoffset: -2380.5;
  -webkit-animation-delay: 0.7s, 2.5s;
          animation-delay: 0.7s, 2.5s;
  color: #666;
}
.destaque > div svg g path {
  fill: transparent;
  -webkit-animation: logo-animation 2s ease forwards, logo-color-animation 1s ease forwards;
          animation: logo-animation 2s ease forwards, logo-color-animation 1s ease forwards;
}
@-webkit-keyframes logo-animation {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes logo-animation {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes logo-color-animation {
  to {
    fill: currentColor;
  }
}
@keyframes logo-color-animation {
  to {
    fill: currentColor;
  }
}

.resultado {
  background: linear-gradient(87.76deg, #0066CC 0.01%, #004891 99.48%);
  width: 100%;
}
.resultado > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 10px;
  row-gap: 2rem;
}
.resultado .resultado__container {
  display: flex;
  flex: 0 1 450px;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}
.resultado .resultado__container img {
  will-change: transform;
  --x-offset: 30px;
  --y-offset: -70px;
  --scale: 2;
  -webkit-animation: floating 3s infinite alternate;
          animation: floating 3s infinite alternate;
  transform-origin: top right;
  transform: translateX(30px) translateY(-70px) scale(2);
}
@-webkit-keyframes floating {
  from {
    transform: translateX(var(--x-offset)) translateY(calc(var(--y-offset) - 10px)) scale(var(--scale));
  }
  to {
    transform: translateX(var(--x-offset)) translateY(var(--y-offset)) scale(var(--scale));
  }
}
@keyframes floating {
  from {
    transform: translateX(var(--x-offset)) translateY(calc(var(--y-offset) - 10px)) scale(var(--scale));
  }
  to {
    transform: translateX(var(--x-offset)) translateY(var(--y-offset)) scale(var(--scale));
  }
}
@media only screen and (max-width: 600px) {
  .resultado .resultado__container {
    flex-direction: row-reverse;
  }
  .resultado .resultado__container img {
    --x-offset: 10px;
    --scale: 1.5;
    transform: translateX(10px) translateY(-70px) scale(1.5);
  }
}
@media only screen and (max-width: 420px) {
  .resultado .resultado__container {
    gap: 1rem;
  }
  .resultado .resultado__container img {
    --x-offset: 10px;
    --scale: 1.2;
    transform: translateX(10px) translateY(-70px) scale(1.2);
  }
}
.resultado .resultado__container .resultado__titulo {
  font-weight: 600;
  font-size: 1.5rem;
  font-size: clamp(1.2rem, 1rem + 1vw, 1.5rem);
  line-height: 1.5;
  color: #FAFAFA;
}
.resultado .resultado__numeros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.resultado .resultado__numeros div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.resultado .resultado__numeros .numero {
  font-size: 2.5rem;
  font-weight: 500;
  color: #FAFAFA;
}
.resultado .resultado__numeros .resultado__numero__textos {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: #FAFAFA;
  text-align: center;
  max-width: 140px;
}

.solucoes {
  padding: 3rem 1.5rem;
}
.solucoes h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.385em;
  color: #1C1C1C;
}
.solucoes h2 {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 2.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #1C1C1C;
}
.solucoes .solucoes__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.8rem;
}
.solucoes .solucoes__container article {
  padding: 0.5rem;
  flex: 0 1 30ch;
}
.solucoes .solucoes__container .solucoes__container__titulo-imagem {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media only screen and (min-width: 900px) {
  .solucoes .solucoes__container .solucoes__container__titulo-imagem {
    flex-direction: column-reverse;
  }
  .solucoes .solucoes__container .solucoes__imagem {
    height: 80px;
  }
}
.solucoes .solucoes__container h4 {
  text-align: left;
  font-weight: 600;
  font-size: 1.25rem;
  color: #1C1C1C;
}
.solucoes .solucoes__container .solucoes__caixa {
  display: flex;
  align-items: flex-start;
  padding-top: 1.5rem;
}
.solucoes .solucoes__container .solucoes__caixa p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #1C1C1C;
  text-align: left;
}

.clientes {
  background: linear-gradient(87.76deg, #0066CC 0.01%, #004891 99.48%);
  padding: 3rem 1.5rem 1rem;
}
.clientes h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.385em;
  color: #FAFAFA;
}
.clientes h2 {
  text-align: center;
  padding-top: 0.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #FAFAFA;
}
.clientes .carousel img {
  width: unset;
}

.orcamento__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem 1.5rem;
  align-items: flex-start;
}
.orcamento__container img {
  padding-bottom: 1.25rem;
}
.orcamento__container .orcamento__textos {
  display: flex;
  flex-direction: column;
  text-align: left;
}
@media only screen and (min-width: 900px) {
  .orcamento__container .orcamento__textos {
    text-align: right;
    align-items: flex-end;
  }
}
.orcamento__container .orcamento__textos .orcamento__container-textos {
  margin-top: 1rem;
}
.orcamento__container .orcamento__textos .orcamento__textos-titulo {
  font-weight: 600;
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1rem + 2vw, 2rem);
  line-height: 1;
  color: #1C1C1C;
}
.orcamento__container .orcamento__textos .orcamento__textos-paragrafo {
  font-weight: 400;
  font-size: 1rem;
  max-width: 50ch;
  line-height: 1.5rem;
  color: #000000;
  padding: 1.25rem 0;
}
.orcamento__container .orcamento__textos .orcamento__botao {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  background: linear-gradient(89.13deg, #0066CC 1.18%, #004891 101.08%);
  box-shadow: 5px 5px 0px 0px rgba(0, 32, 146, 0.2509803922);
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  transition: box-shadow 0.3s, transform 0.3s;
}
.orcamento__container .orcamento__textos .orcamento__botao:hover {
  box-shadow: 3px 3px 0px 0px rgba(0, 32, 146, 0.2509803922);
  transform: translate(1px, 1px);
}

.parcerias {
  background: linear-gradient(87.76deg, #0066CC 0.01%, #004891 99.48%);
  padding: 3rem 1.5rem 1rem;
}
.parcerias .carousel img {
  width: unset;
}

.parcerias h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.385em;
  color: #FAFAFA;
  margin: 0 auto;
}

.parcerias h2 {
  text-align: center;
  padding-top: 0.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #FAFAFA;
}

/* Footer */
footer {
  background: linear-gradient(90deg, #FFFFFF 0, #F0F0F0 100%);
}

.footer__container {
  padding: 2.5rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__container .footer__container-imagem-textos {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.footer__container .footer__container-imagem-textos .footer__titulo {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 0.8rem + 2vw, 2rem);
  text-transform: uppercase;
}
.footer__container .footer__container-imagem-textos .footer__contato {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #0066CC;
}
.footer__container .footer__social {
  display: flex;
  gap: 2.5rem;
  padding: 1rem 0;
}
@media only screen and (max-width: 420px) {
  .footer__container .footer__social {
    justify-content: center;
  }
}
.footer__container .footer__disclaimer {
  font-size: 12px;
  color: #666;
  line-height: 1.2;
}
.footer__container .footer__disclaimer a {
  color: currentColor;
  text-decoration: none;
  font-weight: 600;
}
.footer__container .footer__disclaimer a:hover {
  color: #0066CC;
}
@media screen and (max-width: 600px) {
  .footer__container .footer__disclaimer {
    display: none;
  }
}
.footer__container .footer__copyright {
  font-size: 0.8rem;
  color: #5A5A5A;
  text-align: center;
  margin-top: 1rem;
}

.sobre-in-junior {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}
.sobre-in-junior .elipse-somos {
  background: rgba(0, 95, 191, 0.8);
  border: 3px solid rgba(67, 136, 204, 0.5);
  box-shadow: inset 0px 0px 30px rgba(67, 136, 204, 0.5);
  border-radius: 50%;
  display: inline-block;
  height: 20rem;
  width: 20rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 2rem;
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(45deg);
  }
  5% {
    transform: rotate(35deg);
  }
  20% {
    transform: rotate(235deg);
  }
  25% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(225deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(45deg);
  }
  5% {
    transform: rotate(35deg);
  }
  20% {
    transform: rotate(235deg);
  }
  25% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(225deg);
  }
}
.sobre-in-junior .elipse-somos .elipse-somos-titulo {
  font-weight: 600;
  font-size: 36px;
  line-height: 2rem;
  color: #FAFAFA;
}
.sobre-in-junior .elipse-somos .elipse-somos-paragrafo {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FAFAFA;
  max-width: 95%;
}
.sobre-in-junior .container-missao-visao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.sobre-in-junior .container-missao-visao h3 {
  font-weight: 600;
  font-size: 2rem;
  color: #1C1C1C;
  text-align: center;
  position: relative;
  top: -1rem;
}
.sobre-in-junior .container-missao-visao p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #666666;
  text-align: left;
  padding-bottom: 1rem;
}
.sobre-in-junior .container-missao-visao .caixa-missao, .sobre-in-junior .container-missao-visao .caixa-visao {
  background: #FAFAFA;
  box-shadow: 5px 5px 0px rgba(0, 32, 146, 0.25);
  border-radius: 16px;
  padding: 0 1.25rem;
  text-align: left;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 500px) {
  .sobre-in-junior .container-missao-visao {
    flex-direction: row;
    gap: 1rem;
  }
  .sobre-in-junior .container-missao-visao .caixa-missao, .sobre-in-junior .container-missao-visao .caixa-visao {
    width: 45%;
  }
}
@media screen and (min-width: 900px) {
  .sobre-in-junior .caixa-missao, .sobre-in-junior .caixa-visao {
    max-width: 420px;
  }
}
.sobre-in-junior .valores {
  text-align: center;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 3rem;
  color: #1C1C1C;
  padding-bottom: 2rem;
  padding-top: 4rem;
}
.sobre-in-junior .caixas-valores {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0 1.25rem;
  justify-content: center;
}
.sobre-in-junior .caixas-valores div {
  display: flex;
  text-align: center;
  background: #FAFAFA;
  box-shadow: 5px 5px 0px rgba(0, 32, 146, 0.25);
  border-radius: 1rem;
  width: 10rem;
  height: 13rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sobre-in-junior .caixas-valores div p {
  width: 7.5rem;
}

.mej__container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 5rem 1.25rem 1.25rem 1.25rem;
}
.mej__container h2 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  color: #1C1C1C;
  padding-bottom: 1.25rem;
}
.mej__container p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #666666;
}
.mej__container .mej__container-textos {
  display: flex;
  flex-direction: column;
}
.mej__container .mej__container-textos p {
  text-align: left;
  padding-bottom: 1rem;
}
@media screen and (min-width: 600px) {
  .mej__container .mej__container-textos {
    flex-direction: row;
    gap: 1rem;
  }
  .mej__container .mej__container-textos p {
    max-width: 400px;
    width: 50%;
  }
}

.processo__seletivo__container {
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  text-align: center;
}
.processo__seletivo__container .processo__seletivo__container-titulo {
  font-size: 2rem;
  font-weight: 500;
}
.processo__seletivo__container .processo__seletivo__container-subtitulo {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.25rem 0;
}
.processo__seletivo__container .processo__seletivo__container-paragrafo {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  padding-bottom: 1.5rem;
}
.processo__seletivo__container a {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  background: linear-gradient(89.13deg, #0066CC 1.18%, #004891 101.08%);
  border-radius: 5px;
  box-shadow: 5px 5px 0px 0px rgba(0, 32, 146, 0.2509803922);
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: #FFFFFF;
}

.posicao-relativa-cima {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  color: black;
  padding-bottom: 0;
  padding-top: 0;
}

.posicao-relativa-baixo {
  position: relative;
  color: black;
  right: 0;
  bottom: 1.25rem;
  left: 0;
  padding-top: 2rem;
  padding-bottom: 1.25rem;
  text-align: justify;
}

.centralizando {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.img-card {
  width: 75%;
  align-self: center;
  box-shadow: 5px 5px 0px 0px rgba(0, 32, 146, 0.2509803922);
}

.cargos__container-titulo {
  font-size: 2rem;
  font-weight: 500;
}

.cargos__container-subtitulo-area {
  font-size: 1rem;
  font-weight: 300;
}

.cargos__container-subtitulo-funcao {
  font-size: 1.5rem;
  font-weight: 500;
}

.cargos__container-paragrafo {
  font-size: 1rem;
  font-weight: 400;
}

.etapas .etapas__titulo {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
}
.etapas .etapas__container {
  text-align: center;
  padding: 1.5rem;
}
.etapas .etapas__container .etapas__container-processo h3 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.etapas .etapas__container .etapas__container-processo p {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: left;
}

.main-container {
  position: relative;
  width: 500px;
}

/*creating line for timeline*/
.main-container::after {
  content: "";
  position: absolute;
  width: 10px;
  background-color: blue;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/*Adjusting box of all content*/
.text-wrapper {
  padding: 10px 40px;
  position: relative;
  width: 51%;
  box-sizing: border-box;
  margin: 50px 0;
}

.text-wrapper::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 25px;
  right: -10px;
  background-color: blue;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/*for left events*/
.left {
  left: 0;
}

/*for right events*/
.right {
  left: 50%;
}

.right::after {
  left: -10px;
}

/*content box colour padding and radius for circular corner*/
.content {
  padding: 15px 15px 15px 17px;
  background-color: lightblue;
  border-radius: 4px;
}

/*setting text property of event heading*/
.content h3 {
  text-transform: uppercase;
  font-size: 14px;
  color: #212121;
  letter-spacing: 1px;
}

/*setting text property of event content*/
.content p {
  color: #616161;
  font-weight: 300;
  font-size: 18px;
  margin-top: 2px;
}

.carousel-indicators [data-bs-target] {
  background-color: #666666 !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none !important;
}

.container__carousel {
  background: linear-gradient(270deg, #004891 -12.9%, #0066CC 132.24%);
  box-shadow: 0px 4px 20px rgba(67, 136, 204, 0.3);
  border-radius: 16px;
  color: #FAFAFA;
  padding: 6rem 1.25rem 4rem 1.25rem;
  position: relative;
}
.container__carousel p {
  padding-top: 0.7rem;
}

.container__carousel-img {
  z-index: 1;
  position: absolute;
  top: -5rem;
  right: 0;
  left: 0;
  margin: auto;
}

.card-depoimentos {
  background: rgba(67, 136, 204, 0.1);
}
.card-depoimentos h2 {
  text-align: center;
  padding-top: 0.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #1C1C1C;
}

.depoimentos {
  background: rgba(67, 136, 204, 0.1);
}

.depoimentos h2 {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 3rem;
  color: #1C1C1C;
}

.depoimentos h3 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #FAFAFA;
}

.depoimentos p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #FAFAFA;
}

.depoimentos div {
  background: #005FBF;
  box-shadow: 0px 4px 20px rgba(67, 136, 204, 0.3);
  border-radius: 16px;
  width: 23.5rem;
  height: 28.5rem;
}

.container-depoimentos {
  display: flex;
}

.container-depoimentos div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 380px;
  height: 460px;
}

.contato__container {
  padding: 20px;
}

.contato__container-textos {
  padding: 0 1.25rem;
  padding-top: 2rem;
}
.contato__container-textos h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.25rem;
}
.contato__container-textos h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  padding: 1rem 0;
}
.contato__container-textos p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

form {
  display: flex;
  justify-content: center;
}
form .form__container {
  margin-top: 2.5rem;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 1rem;
  gap: 0.75rem;
}
form .form__container label {
  font-size: 1rem;
  padding-top: 0.5rem;
}
form .form__container fieldset {
  display: flex;
  flex-direction: column;
}
form .form__container input {
  font-family: "Poppins" sans-serif;
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  border: 1px solid #0066CC;
  text-decoration: none;
  margin-top: 0.75rem;
  transition: 0.3s;
}
form .form__container input:active {
  border: 2px solid #0066CC;
}
form .form__container textarea {
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  border: 1px solid #0066CC;
  text-decoration: none;
  transition: 0.3s;
}

@media screen and (min-width: 850px) {
  .orcamento__container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: center;
    gap: 1rem;
  }
  .orcamento__container .orcamento__container-textos {
    max-width: 50%;
  }
  .orcamento__container .orcamento__container-textos h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  .orcamento__container .orcamento__container-textos h3 {
    font-size: 2rem;
    padding-bottom: 4rem;
  }
}
.participacao-eventos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-efej {
  max-width: 95vw;
  margin: 0 auto;
}

.form__container-ps {
  margin-top: 2.5rem;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 1rem;
  gap: 0.75rem;
}
.form__container-ps label {
  font-size: 1rem;
  padding-top: 0.5rem;
}
.form__container-ps fieldset {
  display: flex;
  flex-direction: column;
}
.form__container-ps input {
  font-family: "Poppins" sans-serif;
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  border: 1px solid #0066CC;
  text-decoration: none;
  margin-top: 0.75rem;
  transition: 0.3s;
}
.form__container-ps input:active {
  border: 2px solid #0066CC;
}/*# sourceMappingURL=style.css.map */