body {
  font-family: "Poppins", sans-serif;
}

.header-container {
  padding: 1rem 0 0 1.25rem;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-container img {
  height: 3rem;
}

.btn-orcamento {
  display: none;
}

.cabecalho__menu-hamburguer {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/menu-hamburguer.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
  background-image: url(../../assets/menu-hamburguer.svg);
}

.container__botao:checked ~ .container__rotulo {
  background: #0066CC;
}

.cabecalho {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* margin: 24px 32px;
  gap: 30px; */
}

.container__imagem {
  padding: 1em;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
  background-color: #FFFFFF;
}

.container__botao:checked ~ .lista-menu {
  display: block;
}

.container__botao {
  display: none;
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: #fff;
}

.lista-menu__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.lista-menu__item {
  background: #0066CC;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.opcoes {
  display: none;
}

.container__texto {
  display: none;
}

.destaque {
  display: flex;
  padding: 3rem 1.5rem 0 1.5rem;
  justify-content: space-between;
  align-items: center;
}
.destaque p:first-child {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #1C1C1C;
  width: 100%;
  margin-bottom: 1rem;
  text-align: left;
}
.destaque p:nth-child(2) {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #1C1C1C;
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: left;
}
.destaque a {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  background: linear-gradient(89.13deg, #0066CC 1.18%, #004891 101.08%);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25), inset 5px 5px 10px #0075EB;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: #FFFFFF;
}
.destaque img {
  display: none;
}

.resultado {
  background: linear-gradient(87.76deg, #0066CC 0.01%, #004891 99.48%);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-bottom: 2.5rem;
  margin-top: 2.5rem;
  justify-content: space-between;
}
.resultado .resultado__container {
  display: flex;
}
.resultado .resultado__container .resultado__imagem-grande {
  display: none;
}
.resultado .resultado__container img {
  align-self: flex-start;
  position: relative;
  top: -3.75rem;
  right: 0.25rem;
}
.resultado .resultado__container .resultado__titulo {
  font-weight: 600;
  font-size: 1.5rem;
  color: #FAFAFA;
  align-self: center;
  position: relative;
  left: 1.5rem;
  top: 1rem;
}
.resultado .resultado__numeros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.resultado .resultado__numeros div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resultado .resultado__numeros .numero {
  font-size: 2.5rem;
  font-weight: 500;
  color: #FAFAFA;
}
.resultado .resultado__numeros .resultado__numero__textos {
  font-size: 1rem;
  font-weight: 400;
  color: #FAFAFA;
  text-align: center;
  max-width: 140px;
}

.solucoes {
  padding: 0 1.5rem 0 1.5rem;
}
.solucoes h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.385em;
  color: #000000;
  padding-top: 2.5rem;
}
.solucoes h2 {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 2.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.solucoes .solucoes__container {
  display: flex;
  flex-direction: column;
}
.solucoes .solucoes__container article {
  padding-bottom: 2.5rem;
}
.solucoes .solucoes__container .solucoes__container__titulo-imagem {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.solucoes .solucoes__container h4 {
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  color: #1C1C1C;
}
.solucoes .solucoes__container .solucoes__caixa {
  display: flex;
  align-items: flex-start;
  padding-top: 1.5rem;
}
.solucoes .solucoes__container .solucoes__caixa p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #1C1C1C;
  text-align: justify;
}

.clientes {
  background: linear-gradient(87.76deg, #0066CC 0.01%, #004891 99.48%);
}
.clientes h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.385em;
  color: #FAFAFA;
  padding-top: 2.5rem;
}
.clientes h2 {
  text-align: center;
  padding-top: 0.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #FAFAFA;
}

.clientes__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 3rem;
  padding-bottom: 5.5rem;
}

.elipse {
  border-radius: 50%;
  display: inline-block;
  height: 14.5rem;
  width: 14.5rem;
  /* border: 1px solid #000000; */
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

.orcamento__container {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1.25rem;
}
.orcamento__container .orcamento__textos {
  display: flex;
  flex-direction: column;
}
.orcamento__container .orcamento__textos .orcamento__textos-titulo {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
  color: #000000;
}
.orcamento__container .orcamento__textos .orcamento__textos-paragrafo {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  color: #000000;
  text-align: justify;
  padding: 1.25rem 0;
}
.orcamento__container img {
  padding-bottom: 1.25rem;
}
.orcamento__container .orcamento__img-botao {
  text-align: center;
}
.orcamento__container .orcamento__botao {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  background: linear-gradient(89.13deg, #0066CC 1.18%, #004891 101.08%);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25), inset 5px 5px 10px #0075eb;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: #FFFFFF;
}

.parcerias {
  background: linear-gradient(87.76deg, #0066CC 0.01%, #004891 99.48%);
}

.parcerias h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.385em;
  color: #FAFAFA;
  padding-top: 2.5rem;
  max-width: 15rem;
  margin: 0 auto;
}

.parcerias h2 {
  text-align: center;
  padding-top: 0.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #FAFAFA;
}

.parcerias-container-quatro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  padding-left: 7rem;
  padding-right: 7rem;
}

.parcerias-container-tres {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 5.5rem;
  padding-left: 7rem;
  padding-right: 7rem;
}

/* Footer */
.footer__container {
  background: linear-gradient(233.7deg, #FFFFFF 1.47%, #F0F0F0 100%);
  padding: 2.5rem 2rem 2rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer__container .footer__container-imagem-textos {
  display: flex;
}
.footer__container .footer__container-imagem-textos .footer__logo {
  align-self: flex-start;
  padding-left: 1.5rem;
}
.footer__container .footer__container-imagem-textos .footer__titulo {
  font-size: 1.25rem;
  text-transform: uppercase;
}
.footer__container .footer__container-imagem-textos .footer__contato {
  font-size: 1rem;
  color: #0066CC;
  margin: 0.5rem 0 1.25rem;
}
.footer__container .footer__copyright {
  font-size: 1rem;
  color: #5A5A5A;
  text-align: center;
  margin-top: 2rem;
}
.footer__container .footer__imagens {
  display: flex;
  margin-top: 1.5rem;
  gap: 2.5rem;
}

.sobre-in-junior {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}
.sobre-in-junior .elipse-somos {
  background: rgba(0, 95, 191, 0.8);
  border: 3px solid rgba(67, 136, 204, 0.5);
  box-shadow: inset 0px 0px 30px rgba(67, 136, 204, 0.5);
  border-radius: 50%;
  display: inline-block;
  height: 20rem;
  width: 20rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 2rem;
}
.sobre-in-junior .elipse-somos .elipse-somos-titulo {
  font-weight: 600;
  font-size: 36px;
  line-height: 2rem;
  color: #FAFAFA;
}
.sobre-in-junior .elipse-somos .elipse-somos-paragrafo {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FAFAFA;
}
.sobre-in-junior .container-missao-visao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.sobre-in-junior .container-missao-visao h3 {
  font-weight: 600;
  font-size: 2rem;
  color: #1C1C1C;
  text-align: center;
  position: relative;
  top: -1rem;
}
.sobre-in-junior .container-missao-visao p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #666666;
  text-align: left;
  padding-bottom: 1rem;
}
.sobre-in-junior .container-missao-visao .caixa-missao, .sobre-in-junior .container-missao-visao .caixa-visao {
  background: #FAFAFA;
  box-shadow: 5px 5px 0px rgba(0, 32, 146, 0.25);
  border-radius: 16px;
  padding: 0 1.25rem;
  text-align: left;
  margin-bottom: 2.5rem;
}

.valores {
  text-align: center;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 3rem;
  color: #1C1C1C;
  padding-bottom: 2rem;
  padding-top: 4rem;
}

.caixas-valores {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.25rem;
  justify-content: space-between;
}

.caixas-valores div {
  display: flex;
  text-align: center;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 1rem;
  width: 10rem;
  height: 13rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caixas-valores div p {
  width: 7.5rem;
}/*# sourceMappingURL=style.css.map */